{% extends "base.html" %}

{% block content %}
    <br>
    <h1 align="center">Edit</h1>
    <br>
    <div class="mx-5">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
        <p>
            {{ form.content.label }}<br>
            {{ form.content(rows=15,cols=60) }}
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>
        <div class="col-md-6">
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
        </div>
    </form>
    </div>
        </div>
    </div>
    <br><br>
{% endblock %}
