{% extends 'base.html' %}

{% block content %}
<br>
<div class="mx-5">
    <h1>{{page_name}} History</h1>
<pre>
{% for i in linksArr %}
 <a href="{{i[1]}}">{{i[0]}}</a>
{% endfor %}
</pre>
    <a href="{{ url_for('handle_request',page_id=page_name) }}" type="button" style="margin-right: 12px;">View content</a>
    <a href="{{ url_for('edit',page_id=page_name) }}" type="button">Edit content</a>
</div>
{% endblock %}
